.awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;

  @media (min-width: 1024px) {
    justify-content: space-between;
  }
}

.awards a {
  display: inline-block;
  width: 99px;
}
