.contact-form {
  padding: 2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.contact-form .contact-form__col {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 1.5rem;

  @media (min-width: 768px) {
    padding-bottom: 0;
    padding-right: 2rem;
    width: 50%;
  }
}

.contact-form .contact-form__col:last-of-type {
  padding-bottom: 0;
}

fieldset {
  padding-bottom: 1.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

fieldset:last-of-type {
  padding-bottom: 0;
}

label {
  display: block;
}

.input {
  width: 100%;
  height: 3em;
  padding: 5px 10px;
  background-color: rgb(var(--input));
  color: rgb(var(--input-foreground));
  border-radius: var(--radius-input);
  border: 1px solid rgb(var(--input-border));
}

.input--textarea {
  flex: 1;
}

.input--select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  background-image: none;
  cursor: pointer;
}
.input--select::-ms-expand {
  display: none;
}

.select-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  overflow: hidden;
  background-color: rgb(var(--input));
  color: rgb(var(--input-foreground));
  border-radius: var(--radius-input);
  border: 1px solid rgb(var(--input-border));
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M15.5 4.87402L8.35333 12.02C8.25967 12.1138 8.13255 12.1665 8 12.1665C7.86745 12.1665 7.74033 12.1138 7.64667 12.02L0.5 4.87402' stroke='%231D4ED8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right 10px;
}

.contact-form__actions {
  display: flex;
  padding-top: 1rem;
  justify-content: flex-end;

  @media (min-width: 768px) {
    padding-right: 2rem;
  }
}

.contact .h-captcha {
  margin-top: 2rem;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2rem;
  }
}
