.c-card--gradient {
  background-size: 200% auto;
  background-image: linear-gradient(to right, var(--gradient1-from) 0%, var(--gradient1-to) 51%, var(--gradient1-from) 100%);
  transition: .5s;
}
.c-card--gradient:hover {
  background-position: right center;
}
.c-card__image {
  opacity: .2;
  padding: 2rem;
}
@media (min-width: 1024px) {
  .c-card--image {
    padding-right: 50%;
  }
  .c-card__image {
    opacity: 1;
  }
}
@media (min-width: 1280px) {
  .c-card--image {
    padding-right: 40%;
  }
}
