{% liquid
%}
<div class="p-8">
  <h1 class="text-xl font-bold pb-6">Create new lesson</h1>

  <div>
    {% theme_render_rc 'components/organisms/lesson-form', action: '/api/admin/course/lesson/new' %}
  </div>
</div>

