---
metadata:
  name: User reset password form
  params:
   errors: {}
---

{% capture form %}
  <form action="/user/password" method="post" class="user-form">
    <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">

    {% liquid
      assign validation = null
      if errors.password != blank
        assign validation = null | parse_json | hash_merge: passed: false, messages: errors.password
      endif
      assign input_params = null | parse_json | hash_merge: type: 'password', name: 'password', required: true
      assign label_params = null | parse_json | hash_merge: content: 'New password'
      theme_render_rc 'components/molecules/formfield', input_params: input_params, label_params: label_params, validation: validation, classes: 'user-form__fieldset'

      assign validation = null
      if errors.confirm_password != blank
        assign validation = null | parse_json | hash_merge: passed: false, messages: errors.confirm_password
      endif
      assign input_params = null | parse_json | hash_merge: type: 'password', name: 'confirm_password', required: true
      assign label_params = null | parse_json | hash_merge: content: 'Confirm password'
      theme_render_rc 'components/molecules/formfield', input_params: input_params, label_params: label_params, validation: validation, classes: 'user-form__fieldset'

      theme_render_rc 'components/atoms/button', content: 'Save password', type: 'submit'
    %}
  </form>
{% endcapture %}

{% theme_render_rc 'components/atoms/card', content: form, classes: 'form-panel' %}
