---
metadata:
  name: User register form
  params:
   errors: {}
---

{% capture register_form %}
  {% theme_render_rc 'components/atoms/heading', level: 2, content: 'Sign up', classes: 'heading' %}
  <form action="/user/create" method="post" class="user-form">
    <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">

    {% liquid
      assign input_params = null | parse_json | hash_merge: type: 'text', name: 'firstname', required: true
      assign label_params = null | parse_json | hash_merge: content: 'Firstname'
      theme_render_rc 'components/molecules/formfield', input_params: input_params, label_params: label_params, classes: 'user-form__fieldset'

      assign input_params = null | parse_json | hash_merge: type: 'text', name: 'lastname', required: true
      assign label_params = null | parse_json | hash_merge: content: 'Lastname'
      theme_render_rc 'components/molecules/formfield', input_params: input_params, label_params: label_params, classes: 'user-form__fieldset'

      assign input_params = null | parse_json | hash_merge: type: 'text', name: 'company'
      assign label_params = null | parse_json | hash_merge: content: 'Company'
      theme_render_rc 'components/molecules/formfield', input_params: input_params, label_params: label_params, classes: 'user-form__fieldset'

      assign validation = null
      if errors.email != blank
        assign validation = null | parse_json | hash_merge: passed: false, messages: errors.email
      endif
      assign input_params = null | parse_json | hash_merge: type: 'email', name: 'email', required: true
      assign label_params = null | parse_json | hash_merge: content: 'E-mail'
      theme_render_rc 'components/molecules/formfield', input_params: input_params, label_params: label_params, validation: validation, classes: 'user-form__fieldset'

      assign input_params = null | parse_json | hash_merge: type: 'password', name: 'password', required: true
      assign label_params = null | parse_json | hash_merge: content: 'Password'
      theme_render_rc 'components/molecules/formfield', input_params: input_params, label_params: label_params, classes: 'user-form__fieldset'

      assign input_params = null | parse_json | hash_merge: type: 'checkbox', name: 'terms', required: true
      assign label_params = null | parse_json | hash_merge: content: 'By signing up, you are agreeing to our <a href="https://www.platformos.com/terms-of-use" target="_blank">terms of service.</a>'
      theme_render_rc 'components/molecules/formfield', input_params: input_params, label_params: label_params, classes: 'user-form__fieldset'

      theme_render_rc 'components/atoms/button', content: 'Sign up', type: 'submit'
    %}
    <div class="user-form__footer">Already have an account? <a href="/user/login">Click here to log in!</a></div>
  </form>
{% endcapture %}

<div class="user-forms user-forms--center" style="background-image: url({{ 'modules/courses/images/user-forms.png' | asset_url }})">
  <div class="container user-forms__content">
    {% theme_render_rc 'components/atoms/card', content: register_form, classes: 'form-panel' %}
  </div>
</div>
