---
metadata:
  name: Forgotten password confirmation page
---
<div class="user-forms user-forms--center user-forms--login" style="background-image: url({{ 'modules/courses/images/user-forms.png' | asset_url }})">
  <div class="container user-forms__content">
    <h1 class="heading heading--multiline">
      Forgotten password</span>
    </h1>
    <p class="user-forms__description">
      Please provide your email address in the form below and we'll send you the instructions to reset your password.
    </p>

    {% capture content %}
    <p>We've sent you an email with the password reset link.</p>
    <p>If you need further help resetting your password please <a href="/contact">contact us</a></p>
  {% endcapture %}

  {% theme_render_rc 'components/atoms/card', content: content, classes: 'form-panel' %}

  </div>
</div>
