---
metadata:
  name: Forgotten password page
  params:
   errors: {}
---
<div class="user-forms user-forms--center user-forms--login" style="background-image: url({{ 'modules/courses/images/user-forms.png' | asset_url }})">
  <div class="container user-forms__content">
    <h1 class="heading heading--multiline">
      Forgotten password</span>
    </h1>
    <p class="user-forms__description">
      Please provide your email address in the form below and we'll send you the instructions to reset your password.
    </p>

    {% theme_render_rc 'components/organisms/user-forgotten-password-form', errors: errors %}
  </div>
</div>
