---
metadata:
  name: Reset password page
  params:
   errors: {}
---
<div class="user-forms user-forms--center user-forms--login" style="background-image: url({{ 'modules/courses/images/user-forms.png' | asset_url }})">
  <div class="container user-forms__content">
    <h1 class="heading heading--multiline">
      Reset password</span>
    </h1>
    <p class="user-forms__description">
      Please provide the new password in the form below.
    </p>

    {% theme_render_rc 'components/organisms/user-reset-password-form', errors: errors %}
  </div>
</div>
