
<h1 class="title">Password reset request</h1>

<p>It seems that you requested a password reset. To proceed use the following link.</p>
<p>If it wasn't you who requested this please ignore this message.</p>

<table class="card cta">
  <tr>
    <td>
      <a href="{{ data.url }}" class="button">
        Go to reset password form
      </a>
    </td>
  </tr>
</table>
