{% capture theme_headscripts %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.4.0/github-markdown-light.min.css" integrity="sha512-kDjsFiusauOzRWlNNk7R5nFRVUPFlZjIqI3F0/DYUO9Uz93R0V4zNfrWGSKFtZvHnTIsoM3GwDaqQBJt8ZVt6w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ 'modules/components/components.css' | asset_url }}">
  <link rel="prefetch" href="{{ 'modules/courses/images/user-forms.png' | asset_url }}">
  <title>{% yield 'pagetitle' | default: 'Docs as Code Fundamentals | platformOS DocsKit' %}</title>
  <meta name="description" content="Embark on a comprehensive learning journey with our Docs as Code Fundamentals course. Designed for beginners and those looking to solidify their understanding, this course delves into the well-established methodology of Docs as Code." />
  <link rel="icon" href="{{ 'modules/courses/favicon-32x32.png' | asset_url }}" type="image/png">
  {% endcapture %}

{% return theme_headscripts %}
