---
slug: static/course/terms-conditions
layout: modules/courses/courses
converter: markdown
---
{% content_for 'pagetitle' %} Terms of Service | Docs as Code Course{% endcontent_for %}
<div class="markdown-body container content-static">

  # Terms of Service

  __Coming soon__

  https://www.platformos.com/terms-of-use

</div>
